<% @business_profiles.each do |business_profile| %>
	
	<li class="business item"> 
		<div class="container profile name">
			<div> <%= business_profile.business_name %> </div>
		</div>

		<!-- add distance from user current location -->

	</li>

<% end %>