<img src="http://1.bp.blogspot.com/-oqVIi1MipwM/Up-t3UvOdqI/AAAAAAAAAas/34XRubNY7nQ/s1600/AvocadoPatternYES.jpg" id="bg" alt="">

<div id="welcome-container">
	<div id="message-container">
		<h1> avocado plus </h1>

		<p> "a plant based food guide" </p>

		<hr>

		<div id="created-by"> created by </div>
		
		<div id="mr-eaze">
			<a href="https://github.com/mr-eaze/avocado_plus"> mr-eaze </a>
		</div>
	</div>
</div>