<% @user_profiles.each do |user_profile| %>
	
	<li> 
		<div>	<%= user_profile.user_name %> </div>
<!-- 		<div>	<%= user_profile.user_name %> </div>
		<div>	<%= user_profile.user_name %> </div> -->
	</li>

<% end %>