#big-map {
  /*position  : fixed; */
  top       : 0; 
  left      : 0; 
  width : 100vw;
  height: 100vh;
  margin: 0;
}

.business.item {
	list-style-type: none;
}

#business-name {
	font-weight: 300;
}

.coordinates {
	font-weight: 200;
	float: left;
}

#bg {
  position: fixed; 
  top       : 0; 
  left      : 0; 
  z-index   : -1;
	min-width : 100%;
  min-height: 100%;
  opacity   : .8;
}