 .profile.label {
  width: 100%;
  text-align : center;
  font-weight: 200;
  font-size: 1.1em;
  color: black;
 	/*padding-left: 5px;*/
 }

.profile.data {
  width: 100%;
  text-align : center;
  font-weight: 300;
  font-size: 1.1em;
 	/*padding-left: 5px;*/
 }