@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

* {
	font-family: lato;
}

#bg {
  position: fixed; 
  top     : 0; 
  left    : 0; 
  z-index : -1;
	
  /* Preserve aspet ratio */
  min-width  : 100%;
  min-height : 100%;
  opacity    : .8;
}

#welcome-container {
	width       		 : 300px;
	height           : 300px;
	margin           : 15% auto;
	padding          : 5%;
	/*width            : 20%;*/
	background-color : white;
	border-radius    : 5px;
	text-align       : center;
	opacity          : .9;
}

#message-container {
	margin  : 30% auto 30%;
	/*padding : 15% 0;*/
}

p {
	font-size : 1em;
}

hr {
	/*margin : 0 25px 0;*/
}

#created-by {
	display    : inline-block;
	font-size  : .75em;
	width      : 40%;
	text-align : right;
	margin     : 5px; 
}

#mr-eaze {
	display    : inline-block;
	font-size  : .75em;
	width      : 40%;
	text-align : left;
	margin     : 5px;
}
